In [1]:
# self-generated similar design, PEERS semantic matrix
import pandas as pd
import numpy as np
import pickle

In [2]:
# 1638 words
with open("../wordpools/wasnorm_wordpool.txt") as f:
    items = f.readlines()
items = [i.replace("\n","") for i in items]
items = np.array(items)

In [3]:
simu_sess_num = 1000
list_num = 16
n = 12
wordpool = np.arange(1,1639)
serial_pos = np.arange(12)

In [4]:
df_study = pd.DataFrame()
df_test = pd.DataFrame()
rng = np.random.default_rng(seed=42)

for sess in range(simu_sess_num):
    sess_words = rng.choice(wordpool, 2*n*list_num, replace = False)
    sess_words = np.reshape(sess_words,(list_num,-1))

    for lst in range(list_num):
        tmp_df_study = pd.DataFrame()
        tmp_df_test = pd.DataFrame()

        # choose present words
        pres_words = sess_words[lst,:]
        pres_words = np.reshape(pres_words, (n,2))
        tmp_df_study['study_itemno1'] = pres_words[:,0]
        tmp_df_study['study_itemno2'] = pres_words[:,1]
        tmp_df_study['study_item1'] = items[pres_words[:,0]-1]
        tmp_df_study['study_item2'] = items[pres_words[:,1]-1]
        tmp_df_study['serial_pos'] = serial_pos
        tmp_df_study['list'] = lst
        tmp_df_study['session'] = sess
        df_study = pd.concat([df_study,tmp_df_study])
        
        # choose test words
        study_pos = rng.choice(serial_pos,8,replace=False)
        test_dir = rng.permutation([0]*4 + [1]*4)
        test_probe = []
        correct_ans = []
        for pos, dir in zip(study_pos,test_dir):
            test_probe.append(pres_words[pos][dir])
            correct_ans.append(pres_words[pos][1-dir])
        tmp_df_test['test_itemno'] = test_probe
        tmp_df_test['test_item'] = items[np.array(test_probe)-1]
        tmp_df_test['correct_ans'] = correct_ans
        tmp_df_test['study_pos'] = study_pos
        tmp_df_test['test_dir'] = test_dir
        tmp_df_test['list'] = lst
        tmp_df_test['session'] = sess
        df_test = pd.concat([df_test,tmp_df_test])

df_study.reset_index(inplace = True, drop=True)
df_test.reset_index(inplace = True, drop=True)

In [5]:
df_study.head(24)

,study_itemno1,study_itemno2,study_item1,study_item2,serial_pos,list,session
0,110,1083,BED,PLANT,0,0,0
1,1262,1627,SEAL,WRITER,1,0,0
2,738,1198,INMATE,ROBE,2,0,0
3,187,748,BUG,JAM,3,0,0
4,1423,1072,SWORD,PIN,4,0,0
5,812,1323,LEOPARD,SLACKS,5,0,0
6,679,879,HAMBURGER,MATTRESS,6,0,0
7,413,524,CROSS,ELEVATOR,7,0,0
8,1051,1347,PERMIT,SPARROW,8,0,0
9,823,324,LIME,CLIPPERS,9,0,0
10,152,680,BOSS,HAMMER,10,0,0
11,824,841,LIMOUSINE,LOG,11,0,0
12,1119,1628,PREACHER,XEROX,0,1,0
13,1183,1256,RELISH,SCRIBBLE,1,1,0
14,1093,35,POCKET,APRON,2,1,0
15,666,456,GROUND,DIAGRAM,3,1,0
16,1446,586,TELESCOPE,FLY,4,1,0
17,396,844,COYOTE,LOOP,5,1,0
18,999,1292,PADDING,SHORTCAKE,6,1,0
19,1102,1021,PONY,PASTA,7,1,0
20,1590,528,WART,EMERALD,8,1,0
21,1540,232,UNIVERSE,CANNON,9,1,0
22,1248,1141,SCHOOL,PUMP,10,1,0
23,506,1534,DUNE,UMBRELLA,11,1,0

In [6]:
df_test.head(16)

    test_itemno test_item  correct_ans  study_pos  test_dir  list  session
0           324  CLIPPERS          823          9         1     0        0
1          1347   SPARROW         1051          8         1     0        0
2           413     CROSS          524          7         0     0        0
3           812   LEOPARD         1323          5         0     0        0
4           110       BED         1083          0         0     0        0
5          1198      ROBE          738          2         1     0        0
6           879  MATTRESS          679          6         1     0        0
7           152      BOSS          680         10         0     0        0
8          1141      PUMP         1248         10         1     1        0
9          1540  UNIVERSE          232          9         0     1        0
10          528   EMERALD         1590          8         1     1        0
11          506      DUNE         1534         11         0     1        0
12          844      LOOP          396          5         1     1        0
13          586       FLY         1446          4         1     1        0
14         1093    POCKET           35          2         0     1        0
15          666    GROUND          456          3         0     1        0

In [7]:
# save
with open('simu7_data/simu7_design.pkl', 'wb') as outp:
    pickle.dump(df_study, outp, pickle.HIGHEST_PROTOCOL)
    pickle.dump(df_test, outp, pickle.HIGHEST_PROTOCOL)